.first_page_VBox {
    -fx-background-image: url('copertina_santorini.jpg');
    -fx-background-size: cover;
}

#start_button{
    -fx-text-fill: white;
    -fx-background-color: #cc8258;
    -fx-border-color: white;
    -fx-border-radius: 0;
    -fx-padding: 3 6 6 6;

}

