@font-face {
    src: url('LillyBelle.ttf');
}

.first_page_VBox {
     -fx-background-image: url('/copertina_santorini.jpg');
     -fx-background-size: cover;
 }

.wait_page{
    -fx-background-image: url('loading_image_custom.jpg');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
    -fx-background-position: center;
}

#start_button{
    -fx-text-fill: white;
    -fx-background-color: #cc8258;
    -fx-border-color: white;
    -fx-border-radius: 0;
    -fx-padding: 3 6 6 6;
    -fx-cursor: hand;
}

#start_button:pressed{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 30, 0, 0, 0);
}

.border_text{
    -fx-stroke: white;
    -fx-stroke-width: 2px;
}

.title_text{
    -fx-font-family: "Gill Sans Ultra Bold Condensed";
    -fx-font-size: 36.0;
    -fx-fill: #a85f32;
    -fx-text-fill: #a85f32;
}

.player_button {
    -fx-cursor: hand;
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
            #9d4024,
            #d86e3a,
            radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    -fx-pref-width: 250;
    -fx-pref-height: 60;
}
.player_button:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
            #9d4024,
            #d86e3a,
            radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}
.player_button:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

.player_button {
    -fx-fill: white;
    -fx-text-fill: white;
    -fx-font-size: 25;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}

.setup_standard_background{
    -fx-background-image: url('sea_background.jpg');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
    -fx-background-position: center;
}

.username-text-field {
    -fx-background-color: transparent;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-border-color: transparent transparent #a85f32 transparent;
    -fx-font-size: 24;
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-prompt-text-fill: rgba(45, 45, 45, 0.56);
}

.login_page_number_label{
    -fx-font-family: Arial;
    -fx-font-weight: bold;
}

.combo-box{
    -fx-border-color:#E6E6E6;
    -fx-border-style:solid;
    -fx-border-width:1;
}
.combo-box .arrow{
    -fx-background-color:#2478E9;
}


.combo-box .arrow-button{
    -fx-background-color:white;
    -fx-border-style:none;
}


.combo-box .arrow-button{
    -fx-background-color:white;
}
.combo-box .list-cell{
    -fx-background-color:white;
    -fx-text-fill: #292929;
}

.combo-box .list-cell:hover{
    -fx-background-color: #4287f5;
    -fx-text-fill: #292929;
}


.login-button{
    -fx-background-color: #a85f32;
    -fx-text-fill: white;
    -fx-background-radius: 16px;
    -fx-cursor: hand;
}

.login-button:hover{
    -fx-background-color: radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}

.login-button:pressed {
    -fx-background-color: radial-gradient(center 50% 50%, radius 100%, #fbac85, #e94516);
}

.message-label{

}

.setup-card-image-view{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 30, 0, 0, 0);
    -fx-cursor: hand;
}

.setup-card-image-view:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.95), 50, 0, 0, 0);
    -fx-cursor: hand;
}

.setup-card-image-view:pressed{
    -fx-effect: dropshadow(three-pass-box, rgba(160,160,142,0.95), 50, 0, 0, 0);
    -fx-cursor: hand;
}

.setup-card-arrows{
    -fx-cursor: hand;
    -fx-font-family: Broadway;
    -fx-font-size: 43;
    -fx-background-color: transparent;
    -fx-text-fill: #a85f32;
}

.setup-card-arrows-text:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(140,140,116,0.9), 20, 0, 0, 0);
}

.setup-card-arrows-text:pressed{
    -fx-text-fill: rgb(93,43,37);
    -fx-fill: rgb(93,43,37);
}

.setup-card-arrows-text{
    -fx-font-family: Broadway;
    -fx-font-size: 43;
    -fx-background-color: transparent;
    -fx-text-fill: #a85f32;
    -fx-fill: #a85f32;
    -fx-stroke: white;
    -fx-stroke-width: 2;
}

.card-name-style{
    -fx-text-fill: rgba(86,82,68,1);
    -fx-font-size: 20;
    -fx-background-color: rgba(239,222,206,0.9);
    -fx-font-family: "Tempus Sans ITC", "Arial Black";
    -fx-font-weight: bold;
    -fx-padding: 5 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.9), 20, 0, 0, 0);
    /*-fx-border-radius: 20 20 0 0;*/
    -fx-background-radius: 0;
}

.send-card{
      -fx-background-color: rgba(239,222,206,1);
      -fx-border-radius: 0;
      -fx-cursor: hand;
  }

.send-card:pressed{
    -fx-background-color: rgba(221,184,151,1);
    -fx-border-radius: 0;
    -fx-cursor: hand;
}

.button{
    -fx-cursor: hand;
}

.grid-button{
    -fx-cursor: hand;
    -fx-opacity: 0.3;
    -fx-background-color: red;
    -fx-border-width: 1;
    -fx-border-color: red;
}

.grid-button:hover{
    -fx-cursor: hand;
    -fx-opacity: 0.5;
    -fx-border-color: transparent;
    -fx-background-color: red;
}

.red-color{
    -fx-opacity: 1;
    -fx-background-color: red;
}

.blue-color{
    -fx-opacity: 1;
    -fx-background-color: blue;
}

.green-color{
    -fx-opacity: 1;
    -fx-background-color: green;
}

.light-blue-background{
    -fx-background-color: rgb(46,200,255);
}

.label-text{
    -fx-font-size: 30;
    -fx-font-family: "LillyBelle";
    -fx-text-fill: #a85f32;
}

.label-text-notification{
    -fx-font-size: 15;
    -fx-font-family: "LillyBelle";
}

.game_button {
    -fx-cursor: hand;
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
            #9d4024,
            #d86e3a,
            radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    -fx-pref-width: 250;
    -fx-pref-height: 60;
}
.game_button:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
            #9d4024,
            #d86e3a,
            radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}
.game_button:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

.grid-button{
    -fx-cursor: hand;
    -fx-opacity: 0.3;
    -fx-background-color: red;
    -fx-border-width: 1;
    -fx-border-color: red;
}

.grid-button:hover{
    -fx-cursor: hand;
    -fx-opacity: 0.5;
    -fx-border-color: transparent;
    -fx-background-color: red;
}